.automate
    margin-top: 140px
    &__inner
        background: url('../images/automate-bg.png') center (center/cover) no-repeat
        height: 294px
        width: 100%
        display: flex
        justify-content: space-between
    &__title
        padding: 60px 37px 142px 94px
    &__info-text
        font-weight: 400
        font-size: 18px
        line-height: 28px
        letter-spacing: 0.443077px
        color: #2D3238
        padding: 70px 100px 60px 0
    
    .automate__form
        background: #FFFFFF
        border: 1px solid rgba(56, 152, 254, 0.4)
        

    