@media (max-width: 1170px)
    .container
        padding: 10px 64px 10px 70px
    .nav__list, .nav__link-lang, .nav__btn-connect
        display: none
    .menu-btn
        display: block
        position: absolute
        right: 60px
        top: 37px
        z-index: 100
    .nav__img
        position: absolute
        left: 70px
        z-index: 100
       
@media only screen and (max-width: 767px)
    .container
        padding: 10px 40px
    .swiper
        height: 1000px
        width: 534px
    .advantage__block
        flex-direction: column
    .about__info
        padding: 0
    .about__info-img
        height: 90px
    .about__info-text
        font-size: 16px
        line-height: 24px
    .about__title
        text-align: center
    .automate__title
        margin-bottom: 24px
        text-align: center
    .automate__info-text
        text-align: center
        margin-top: 24px
    .banks__inner
        flex-wrap: wrap
        justify-content: center
    .banks__title
        text-align: center
    .for__title
        text-align: center
    .for__text
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.443077px

    .tarrifs__text
        font-size: 18px
        line-height: 28px
        letter-spacing: 0.443077px
    .soon__title
        text-align: center
    .soon__item
        flex-direction: column
        align-items: center
        flex-wrap: wrap
    .soon__box
        width: 362px
    .soon__box-dash
        top: 34px
        left: -53px

    .soon__subtitle   
        text-align: center
    .soon__text
        margin-top: 22px
    .footer
        padding-bottom: 33px
    .footer__inner
        flex-direction: column
        align-items: center
    .footer__connect-title, .footer__connect-text, .footer__connect-email
        text-align: center
    .footer__connect-email
        margin-bottom: 70px
    .footer__form
        margin-top: 0
    .footer__end
        margin-top: 70px
    .swiper-button-next, .swiper-button-prev
        display: none






